<style>
      body {
        font-family: helvetica, sans-serif;
        width: 350px;
            background-color: #9AAFC2;
        text: #FFFFFF;
}

main, header, nav, article, aside, footer, section {
  background-color: #9AAFC2
  padding: 0;
      }

      label {
        font-weight: bold;
      }

      div {
        padding-bottom: 20px;
      }

      input[type="text"] {
        padding: 5px;
        width: 150px;
      }

      p {
        background-color: #9AAFC2;
        text: #FFFFFF;
        padding: 10px;
        visibility: hidden;
      }
</style>